<!--
  Generated template for the ModalTutoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content class="mymodal center" padding>
	<ion-grid>
	  <ion-row>
			<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	  </ion-row>
		<ion-row>
			<ion-col col-12><div class="con">
			<button ion-button round (click)="logEvent()">Continuar</button>
			</div></ion-col>
	  </ion-row>
	</ion-grid>
</ion-content>
