<!--
  Generated template for the ModalMenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content class="mymodal center" padding>


  <ion-list radio-group class="center">

  <ion-item>
    <ion-label>Facil</ion-label>
    <ion-radio value="3" (ionSelect)="mcqAnswer(i,3)"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>Medio</ion-label>
    <ion-radio value="9" (ionSelect)="mcqAnswer(i,9)"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>Avanzado</ion-label>
    <ion-radio value="12" (ionSelect)="mcqAnswer(i,12)"></ion-radio>
  </ion-item>
</ion-list>

<button ion-button round (click)="logEvent()">Iniciar</button>
</ion-content>
