page-modal-menu {

	@media (min-width: 680px) {
  .mymodal {
     width: 50%;
     height: 50%;
     top: 10%;
     left: 10%;
     right: 10%;
     bottom: 10%;
  }
}

ion-list{
  padding: 65% 12% 5% 12%;
}

.item-md{
  background-color: transparent;
}

.item-md .radio-checked{
  border-color: #1C2E4C;
}

.item-radio-checked.item-md ion-label{
  color: #1C2E4C;
}

.radio-md .radio-inner{
  background-color: #1C2E4C;
}

page-modal-menu .radio-md .radio-inner{
  background-color: white;
}

.list .item-radio .item-content {
    background-color: white;
    color: white;
  }
  .list .item-radio .radio-icon {
    background-color: white;
    color: white;
  }
  .item-radio input:checked + .radio-content .item-content {
      /* style the item content when its checked */
      background: white;
  }

  @media (min-height: 500px) {
    ion-backdrop {
      visibility: visible;
    }
  }

  .center{
     text-align:center !important;
     //background: #29BA08;
     background: url('../assets/logo.png') no-repeat center center fixed !important;
     background-size: 80% !important;
  }

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-overlay;

  display: flex;

  align-items: center;
  justify-content: center;

  contain: strict;
  .modal-wrapper {
    &,
    .ion-page,
    .ion-page .content,
    .ion-page .content .scroll-content {
      contain: content;
      position: relative;
      top: auto;
      left: auto;
    }

    z-index: $z-index-overlay-wrapper;
    display: flex;
    overflow: hidden;

    flex-direction: column;

    min-width: $alert-min-width;
    max-height: $alert-max-height;

    opacity: 0;

    height: auto;
    max-width: $alert-md-max-width;
    border-radius: $alert-md-border-radius;
    background-color: $alert-md-background-color;
    box-shadow: $alert-md-box-shadow;

    .ion-page .content {
      background-color: color($colors, light);
    }
  }

  .button-md{
    background-color: white;
    color: #1C2E4C;
  }

}
