<!--
  Generated template for the ModalWinEasyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content class="mymodal center" padding>
	<div class="con">
	<img src="{{url}}" alt="your image">

	<ion-item text-wrap>Sigue jugando y superando Niveles\ny seguiras ganando puntos</ion-item>

	<button ion-button round (click)="logEvent()">Continuar</button>
	</div>
</ion-content>
