page-modal-win-easy {

@media (min-width: 680px) {
  .mymodal {
     width: 50%;
     height: 50%;
     top: 10%;
     left: 10%;
     right: 10%;
     bottom: 10%;
  }
}

.label-md{
	font-size: 1.6rem;
}

.item-md{
  background-color: transparent;
   text-align:center;
   color: #1C2E4C;
}

.item-md.item-block .item-inner{
	border-bottom: transparent;
}

.center{
     text-align:center !important;
     //background: #29BA08;
     background: url('../assets/logo.png') no-repeat center center fixed !important;
     background-size: 80% !important;
  }

  .scroll-content{
  	padding: 65% 10% 1% 15% !important;
  }

  .button-md{
    background-color: white;
    color: #1C2E4C;
  }
}
