<div [ngSwitch]="level" class="content-md">
	<ion-grid *ngSwitchCase="3">
		<ion-row  >
			<ion-col col-6   *ngFor="let card of cards let i=index"  >
					<div class="flip-container" (click)="flip(i)" [class.flipped]="card.state"  readonly="card.readonly">
					<div class="flipper">
						<div class="front">
							<div class="flash-card-front"><img src="../assets/images/card_front_2.png"/></div>
						</div>
						<div class="back">
							<div class="flash-card-back"><img src="{{card.url}}"/></div>
						</div>
					</div>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid *ngSwitchCase="9">
		<ion-row>
			<ion-col col-4   *ngFor="let card of cards let i=index" >
				<div class="flip-container-t" (click)="flip(i)" [class.flipped]="card.state" disabled="card.readonly">
					<div class="flipper-t">
						<div class="front-t" >
							<div class="flash-card-front-t"  >
								<img  src="../assets/images/card_front_2.png" />
							</div>
						</div>
						<div class="back-t">
							<div class="flash-card-back-t"><img  src="{{card.url}}"/></div>
						</div>
					</div>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-grid *ngSwitchCase="12">
		<ion-row >
			<ion-col col-3  *ngFor="let card of cards let i=index"  >
				<div class="flip-container-two " (click)="flip(i)" [class.flipped]="card.state"  [attr.disabled]="card.readonly">
					<div class="flipper-two ">
						<div  class="front-two " >
							<div class="flash-card-front-two " ><img src="../assets/images/card_front_2.png"/></div>
						</div>
						<div  class="back-two ">
							<div class="flash-card-back-two "  ><img src="{{card.url}}" /></div>
						</div>
					</div>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>

</div>
